alabaster
altair==5.3.0
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-lru
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker==1.7.0
Brotli
cachetools==5.3.3
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
comm
cookiecutter
cryptography
debugpy
decorator
defusedxml
diff-match-patch
dill
docstring-to-markdown
docutils
exceptiongroup
executing
fastjsonschema
flake8
gitdb==4.0.11
GitPython==3.1.43
idna
imagesize
importlib-metadata
inflection==0.5.1
intervaltree
ipykernel
ipython
isort
jaraco.classes
jedi
jellyfish
Jinja2
json5
jsonschema
jsonschema-specifications==2023.12.1
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keyring
lazy-object-proxy
markdown-it-py
MarkupSafe
matplotlib-inline
mccabe
mdurl
mistune
more-itertools
mp3play==0.1.15
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy==1.26.4
numpydoc
overrides
packaging
pandas==2.2.2
pandocfilters
paramiko
parso
pathspec
pexpect
pickleshare
pillow==10.3.0
platformdirs
playsound
pluggy
ply==3.11
prometheus-client
prompt-toolkit
protobuf==4.25.3
psutil
ptyprocess
pure-eval
pyarrow==15.0.2
pycodestyle
pycparser
pydeck==0.8.1b0
pydocstyle
pyflakes
Pygments
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
python-dateutil
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
Send2Trash
sip
six
smmap==5.0.1
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stack-data
streamlit==1.33.0
tenacity==8.2.3
terminado
text-unidecode
textdistance
three-merge
tinycss2
toml==0.10.2
tomli
tomlkit
toolz==0.12.1
tornado
traitlets
typing_extensions==4.11.0
tzdata==2024.1
ujson
Unidecode
urllib3
watchdog
wcwidth
webencodings==0.5.1
websocket-client
whatthepatch
win-inet-pton
wrapt
yapf
zipp
